<div class="container row" style="margin-top: 10px;">
    <p style="text-align: left; font-size: 16px; font-weight: bold;margin-bottom: 0;">
        {{proyectoResponse.Nombre}}
    </p>
</div>

<div class="col-md-12 row" style="margin-top: 20px;">
    <div class="col-md-6">
        <fieldset class="border p-2" style="border-radius: 10px;height: 450px;">
            <legend class="w-auto">Datos del Proyecto:</legend>
        <div class="col-md-12">
            <label style="font-weight: bold;">
                Código: <label style="font-weight: normal;"> {{ proyectoResponse.Codigo }}</label> 
            </label>
        </div>
        <div class="col-md-12">
            <label style="font-weight: bold;">
                Tipo de Inversión: <label style="font-weight: normal;">  {{ proyectoResponse.InversionDescripcion }}</label> 
            </label>
        </div>
        <div class="col-md-12">
            <label style="font-weight: bold;">
                Ciclo de Inversión:  <label style="font-weight: normal;"> {{ proyectoResponse.CicloDescripcion }} </label>
            </label>
        </div>
        <div class="col-md-12">
            <label style="font-weight: bold;">
                Naturaleza: <label style="font-weight: normal;"> {{ proyectoResponse.NaturalezaDescripcion }} </label>
            </label>
        </div>
        <div class="col-md-12">
            <label style="font-weight: bold;">
                Modalidad: <label style="font-weight: normal;">  {{ proyectoResponse.Modalidad }} </label>
            </label>
        </div>
        <div class="col-md-12">
            <label style="font-weight: bold;">
                Departamento:  <label style="font-weight: normal;">  {{ proyectoResponse.Departamento }} </label>
            </label>
        </div>
        <div class="col-md-12">
            <label style="font-weight: bold;">
                Provincia:  <label style="font-weight: normal;">  {{ proyectoResponse.Provincia }} </label>
            </label>
        </div>
        <div class="col-md-12">
            <label style="font-weight: bold;">
                Distrito: <label style="font-weight: normal;">  {{ proyectoResponse.Distrito }} </label>
            </label>
        </div>
        <div class="col-md-12">
            <label style="font-weight: bold;">
                Fecha Inicio: <label style="font-weight: normal;">  01/10/2021  </label>
            </label>
        </div>
        <div class="col-md-12">
            <label style="font-weight: bold;">
                Fecha Inicio: <label style="font-weight: normal;">  01/06/2022  </label>
            </label>
        </div>
        <div class="col-md-12">
            <label style="font-weight: bold;">
                Costo: <label style="font-weight: normal;"> S/. {{ proyectoResponse.Costo }} </label>
            </label>
        </div>
    </fieldset>
    </div>

    <div class="col-md-6">
        <fieldset class="border p-2" style="border-radius: 10px;">
            <legend class="w-auto">Ubicación Geográfica:</legend>
        <div id="container" style="height: 400px;">
        </div>
        </fieldset>
    </div>
</div>

<div class="col-md-12 row" style="margin-bottom: 50px; margin-top: 10px; position: relative;">
    <div class="col-md-6">
        <fieldset class="border p-2" style="border-radius: 10px;">
            <legend class="w-auto">Programación:</legend>
        <div class="col-md-12">
            <label style="font-weight: bold;">
                Coordinador: <label style="font-weight: normal;"> {{ proyectoResponse.NombresCompleto }}</label> 
            </label>
        </div>
        <div class="col-md-12">
            <label style="font-weight: bold;">
                Campo: <label style="font-weight: normal;">  {{ proyectoResponse.FechaVisita }}</label> 
            </label>
        </div>
    </fieldset>
    </div>
    
    <div class="col-md-6" style="text-align: center;">
        <fieldset class="border p-2" style="border-radius: 10px;">
            <legend class="w-auto" style="text-align: left;">Fase:</legend>
            <div class="col-md-12 row">
                <div id="gaugeArea"></div>
                <div style="text-align: left; margin-top: 30px;">
                    <label>1. Idea</label>
                    <br>
                    <label>2. Formulación</label>
                    <br>
                    <label>3. Aprobado</label>
                    <br>
                    <label>4. Expediente Técnico</label>
                    <br>
                    <label>5. Ejecución</label>
                </div>
            </div>
    </fieldset>
    </div>

</div>

<div class="col-md-12" style="margin-top: -40px; margin-bottom: 10px; position: relative; width: 98%;">
    <fieldset class="border p-2" style="border-radius: 10px;">
        <legend class="w-auto">Cronograma:</legend>
        <div class="col-md-12">
            <div *ngFor="let item of proyectoResponse.ProyectoActividadesRequest">
                <div class="row">
                    <div class="col-md-8">
                        {{item.Orden}}. {{item.Nombre}}
                    </div>
                    <div class="col-md-2">
                        Fecha Inicio: {{item.FechaInicio}}
                    </div>
                    <div class="col-md-2">
                        Fecha Fin: {{item.FechaFin}}
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>




        




