

      <div class="ml-status-bar">       
        <div class="ml-status-bar-elements"> 
        <span class="row" *ngFor="let item of listaMostrar">   
                        
          <span [ngClass]="{'proccessed':item.Seguimiento}"  class="ml-status-circle fa">    
            <h6 class="current" style="margin-top: -40px;" > {{ item.DateOrderFlowSTtring }}</h6>    
            <h6 class="current" [ngStyle]="{'margin-top':item.Seguimiento ? '30px' : '70px' }"> {{ item.DescriptionStatus }}</h6>              
          </span>             
          
          <!-- <span *ngIf="item.OrderStatus != '7'" [ngClass]="{'proccessed':item.FlagStatus}" class="ml-status-connector"></span>
          <span *ngIf="item.OrderStatus != '7'"  [ngClass]="{'proccessed':item.FlagStatus}" class="ml-status-connector"></span> -->
        </span>
        </div>
      </div>  

<ng-container *ngIf="deviceType == 'M'">  
    <div class="container row col-md-12" style="margin-top: 10px;">
        <div class="col-10">
            <p style="font-size: 16px; font-weight: bold;margin-bottom: 0;">
                Registrar Informe
            </p>
        </div>
        <div class="col-2">
            <button type="button" (click)="registerInformation()" class="btn btn-success"><em class="fas fa-save"></em>  </button>
        </div>
    </div>
    <div class="container" style="margin-top: 20px;">
            <div class="row">
                <div class="col-md-1">
                    <label style="font-weight: bold;">
                        Código Proyecto:
                    </label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" [typeahead]="listProyectosOriginalCode" [(ngModel)]="selectedEmployee"
                    [typeaheadScrollable]="true" name="listEmployee" [typeaheadOptionsInScrollableView]="5"
                    [isAnimated]="true" autocomplete="off" [adaptivePosition]="true"
                    typeaheadOptionField="Codigo" (typeaheadOnSelect)="typeaheadOnSelectEmployee($event)" />
                </div>

            </div>
            <br>
            <div *ngIf="existeLocation" class="row" style="text-align: center;">
                <div class="col-md-12">
                    <label style="font-weight: bold;">
                        Longitud:
                    </label>  {{ longitudeRequestLabel }} &nbsp;&nbsp;&nbsp;
                    <label style="font-weight: bold;">
                        Latitud: 
                    </label> {{ latitudeRequestLabel }}
                </div>
            </div>
            <br>
    </div>
    <div class="container"  *ngIf="itemType == '1'">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
        
                <a class="nav-item nav-link active" id="nav-just-tab" data-toggle="tab" href="#nav-just"
                    role="tab" aria-controls="nav-just" aria-selected="false"> Obra </a>
                <a class="nav-item nav-link" id="nav-obj-tab" data-toggle="tab" href="#nav-clau" role="tab"
                    aria-controls="nav-obj" aria-selected="false"> Herram. </a>
                <a class="nav-item nav-link" id="nav-act-tab" data-toggle="tab" href="#nav-act" role="tab"
                    aria-controls="nav-obj" aria-selected="false"> Act. </a>
                <a class="nav-item nav-link" id="nav-evi-tab" data-toggle="tab" href="#nav-evi" role="tab"
                    aria-controls="nav-obj" aria-selected="false"> Evidencia </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-just" role="tabpanel" aria-labelledby="nav-just-tab">
                    <div class="container" style="padding-bottom: 20px; padding-top: 20px;">
                        <div class="row">
                            <div class="col-12">
                                <label style="font-weight: bold;">
                                    POSTES
                                </label>
                            </div>
                            <br>                 
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label> Madera: ({{proyectoInsumos.MaderaTipoA}}) </label>
                            </div>
                            <div class="col-2">
                                <label> 12/C6 </label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.MaderaTipoA" class="form-control">
                            </div>
                        </div>
                        <br> 
                        <div class="row">
                            <div class="col-4">
                                <label> Madera: ({{proyectoInsumos.MaderaTipoB}}) </label>
                            </div>
                            <div class="col-2">
                                <label> 12/C5 </label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.MaderaTipoB" class="form-control">
                            </div>
                        </div>
                        <br> 
                        <div class="row">
                            <div class="col-4">
                                <label> Concreto: ({{proyectoInsumos.Concreto}})</label>
                            </div>
                            <div class="col-5">
                                <label> 13m de 400 da/N: </label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.Concreto" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12">
                                <label style="font-weight: bold;">
                                    CONDUCTORES
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label> Aluminio </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label> Tipo AAAC: ({{proyectoInsumos.Aluminio}})</label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.Aluminio" class="form-control">
                            </div>
                        </div>
                        <br> 
                        <div class="row">
                            <div class="col-12">
                                <label style="font-weight: bold;">
                                    AISLADORES
                                </label>
                            </div>               
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label> Porcelana </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label> PIN ANSI 56-3: ({{proyectoInsumos.PIN3}})</label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.PIN3" class="form-control">
                            </div>
                        </div>
                        <br> 
                        <div class="row">
                            <div class="col-5">
                                <label> PIN ANSI 56-4: ({{proyectoInsumos.PIN4}})</label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.PIN4" class="form-control">
                            </div>
                        </div>
                        <br> 
                        <div class="row">
                            <div class="col-3">
                                <label> Poliméricos </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label> Suspension: ({{proyectoInsumos.Suspencion}})</label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.Suspencion" class="form-control">
                            </div>
                        </div>
                        <br> 
                        <div class="row">
                            <div class="col-12">
                                <label style="font-weight: bold;">
                                    PUESTA A TIERRA
                                </label>
                            </div>               
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label> PAT-1: ({{proyectoInsumos.PAT1}}) </label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.PAT1" class="form-control">
                            </div>
                        </div>
                        <br> 
                        <div class="row">
                            <div class="col-5">
                                <label> PAT-2: ({{proyectoInsumos.PAT2}}) </label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.PAT2" class="form-control">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="tab-pane fade" id="nav-clau" role="tabpanel" aria-labelledby="nav-clau-tab">
                <div class="container" style="padding-bottom: 20px; padding-top: 20px;">
                    <div class="row">
                        <div class="col-12">
                            <label style="font-weight: bold;">
                                MATERIAL DE FERRETERÍA
                            </label>
                        </div>               
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <label> Pernos: ({{proyectoInsumos.Pernos}}) </label>
                        </div>
                        <div class="col-3">
                            <input [(ngModel)]="proyectoInsumosRequest.Pernos" class="form-control">
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-7">
                            <label> Abrazaderas: ({{proyectoInsumos.Abrazaderas}}) </label>
                        </div>
                        <div class="col-3">
                            <input [(ngModel)]="proyectoInsumosRequest.Abrazaderas" class="form-control">
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-7">
                            <label> Accesorios de Aisladores: ({{proyectoInsumos.Aisladores}}) </label>
                        </div>
                        <div class="col-3">
                            <input [(ngModel)]="proyectoInsumosRequest.Aisladores" class="form-control">
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-12">
                            <label style="font-weight: bold;">
                                SUB-ESTACIONES DE DISTRIBUCIÓN
                            </label>
                        </div>               
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <label> Monofasicas: ({{proyectoInsumos.Monofasicos}}) </label>
                        </div>
                        <div class="col-3">
                            <input [(ngModel)]="proyectoInsumosRequest.Monofasicos" class="form-control">
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-7">
                            <label> Bifasicas: ({{proyectoInsumos.Bifasicos}}) </label>
                        </div>
                        <div class="col-3">
                            <input [(ngModel)]="proyectoInsumosRequest.Bifasicos" class="form-control">
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-7">
                            <label> Trifasicas: ({{proyectoInsumos.Trifasicos}}) </label>
                        </div>
                        <div class="col-3">
                            <input [(ngModel)]="proyectoInsumosRequest.Trifasicos" class="form-control">
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-12">
                            <label style="font-weight: bold;">
                                TABLERO DE DISTRIBUCIÓN
                            </label>
                        </div>               
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <label> Transformadores: ({{proyectoInsumos.Transformadores}}) </label>
                        </div>
                        <div class="col-3">
                            <input [(ngModel)]="proyectoInsumosRequest.Transformadores" class="form-control">
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-9">
                            <label> Interruptores Termomágneticos: ({{proyectoInsumos.Interruptores}}) </label>
                        </div>
                        <div class="col-3">
                            <input [(ngModel)]="proyectoInsumosRequest.Interruptores" class="form-control">
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-9">
                            <label> Contactores Tipo A: ({{proyectoInsumos.Contactores}}) </label>
                        </div>
                        <div class="col-3">
                            <input [(ngModel)]="proyectoInsumosRequest.Contactores" class="form-control">
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-9">
                            <label> Medidores de energía: ({{proyectoInsumos.Medidores}}) </label>
                        </div>
                        <div class="col-3">
                            <input [(ngModel)]="proyectoInsumosRequest.Medidores" class="form-control">
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-9">
                            <label> Fusibles de expulsión: ({{proyectoInsumos.Fusibles}}) </label>
                        </div>
                        <div class="col-3">
                            <input [(ngModel)]="proyectoInsumosRequest.Fusibles" class="form-control">
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-12">
                            <label style="font-weight: bold;">
                                SISTEMA DE PROTECCIÓN
                            </label>
                        </div>               
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <label> Pararrayos: ({{proyectoInsumos.Pararrayos}}) </label>
                        </div>
                        <div class="col-3">
                            <input [(ngModel)]="proyectoInsumosRequest.Pararrayos" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-act" role="tabpanel" aria-labelledby="nav-act-tab">
                <div class="container" style="padding-bottom: 20px; padding-top: 20px;">
                    <div class="row">
                            <label style="font-weight: bold;">
                                Cronograma
                            </label>
                    </div>

                    <div class="row" *ngFor="let item of listProyectosCronograma">
                        <div class="row">
                            <div class="col-12" style="text-align: justify;">
                                <label>
                                    {{ item.Orden }}. {{ item.Nombre }}
                                </label>
                            </div>  
                        </div> 
                        <br>
                        <div class="row">
                            <div class="col-7">
                                <label>
                                    {{ item.FechaInicio }} - {{ item.FechaFin }} 
                                </label>
                            </div>   
                            <div class="col-5">
                                <select (change)="view($event.target.value)" [(ngModel)]="item.Seguimiento"  class="form-control" style="width: auto;" > 
                                    <option value="0">-- Seleccione --</option>
                                    <option value="1"> Completo </option>
                                    <option value="2"> Retraso </option>
                                </select>
                            </div>  
                        </div> 
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-evi" role="tabpanel" aria-labelledby="nav-evi-tab">
                <div class="container" style="padding-bottom: 20px; padding-top: 20px;">
                    <div class="row">
                        <div class="col-12">
                            <label style="font-weight: bold;">
                                Evidencia
                            </label>
                        </div>               
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea [(ngModel)]="EvidenciaCommentary"  class="form-control">
                            </textarea>
                        </div>               
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <!-- <label for="fileUploadS3">Adjuntar Archivo</label> -->
                                <br>
                                <input #inputFile (change)="fileUpload($event)" type="file" style="color: transparent" class="form-control-file" id="fileUploadS3">

                                <!-- <input #inputFile (change)="fileUpload($event)" id="fileUploadS3" type="file">
                              
                                <label style="background-color: #0c54ac; height: 50px; width: 5px; border-radius: 50px;" class="btn-1"
                                for="file"> <em class="fas fa-camera" style="margin-left: -22px; font-size: 25px; margin-top: -1px;"></em>
                                </label> -->
                             


                            </div>
                        </div>
                    </div>

                    <app-file-list [fileList]="answerActionRequest.AttachedFile"></app-file-list>


                </div>
            </div>
        </div>
    </div>


    <div class="container" *ngIf="itemType == '2'">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
        
                <a class="nav-item nav-link active" id="nav-just-tab" data-toggle="tab" href="#nav-just"
                    role="tab" aria-controls="nav-just"
                    aria-selected="false"> Obra </a>
                <a class="nav-item nav-link" id="nav-obj-tab" data-toggle="tab" href="#nav-clau" role="tab"
                    aria-controls="nav-obj" aria-selected="false"> Herramientas </a>
                <a class="nav-item nav-link" id="nav-act-tab" data-toggle="tab" href="#nav-act" role="tab"
                    aria-controls="nav-obj" aria-selected="false"> Act. </a>
                <a class="nav-item nav-link" id="nav-evi-tab" data-toggle="tab" href="#nav-evi" role="tab"
                    aria-controls="nav-obj" aria-selected="false"> Evidencia </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-just" role="tabpanel" aria-labelledby="nav-just-tab">
                    <div class="container" style="padding-bottom: 20px; padding-top: 20px;">
                        <div class="row">
                            <div class="col-5">
                                <label style="font-weight: bold;">
                                    NÚMERO DE LOTES:
                                </label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.Lotes" class="form-control">
                            </div>
                            <br>                 
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label style="font-weight: bold;">
                                    POSTES
                                </label>
                            </div>
                            <br>                 
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label> Madera: </label>
                            </div>
                            <div class="col-2">
                                <label> 8/C7 </label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.MaderaSecundarioTipoA" class="form-control">
                            </div>
                        </div>
                        <br> 
                        <div class="row">
                            <div class="col-4">
                                <label> Concreto: </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label> 8m de 200 da/N: </label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.ConcretoSecundarioTipoA"  class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label> 11m de 200 da/N: </label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.ConcretoSecundarioTipoB" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12">
                                <label style="font-weight: bold;">
                                    CONDUCTORES:
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label> Aluminio </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label> Autoportante: </label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.AluminioSecundario" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                <label style="font-weight: bold;">
                                    ALUMBRADO PÚBLICO:
                                </label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.Alumbrado" type="checkbox">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                <label style="font-weight: bold;">
                                    RETENIDAS Y ANCLAJES:
                                </label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.Retenidas" type="checkbox">
                            </div>
                        </div>
                        <br> 
                        <div class="row">
                            <div class="col-6">
                                <label style="font-weight: bold;">
                                    PUESTA A TIERRA:
                                </label>
                            </div>    
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.PuestaTierra" type="checkbox">
                            </div>           
                        </div>
                    </div>
            </div>
            <div class="tab-pane fade" id="nav-clau" role="tabpanel" aria-labelledby="nav-clau-tab">
                <div class="container" style="padding-bottom: 20px; padding-top: 20px;">
                    <div class="row">
                        <div class="col-12">
                            <label style="font-weight: bold;">
                                MATERIAL DE FERRETERÍA:
                            </label>
                        </div>               
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <label> Grapa de suspención: </label>
                        </div>
                        <div class="col-3">
                            <input [(ngModel)]="proyectoInsumosRequest.GrapaSuspencion" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <label> Grapa de anclaje: </label>
                        </div>
                        <div class="col-3">
                            <input [(ngModel)]="proyectoInsumosRequest.GrapaAnclaje" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <label> Pernos: </label>
                        </div>
                        <div class="col-3">
                            <input [(ngModel)]="proyectoInsumosRequest.PernosSecundarios" class="form-control">
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-7">
                            <label style="font-weight: bold;">
                                CONEXIONES DOMICILIARIAS:
                            </label>
                        </div>      
                        <div class="col-3">
                            <input [(ngModel)]="proyectoInsumosRequest.Conexiones" class="form-control">
                        </div>         
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-act" role="tabpanel" aria-labelledby="nav-act-tab">
            <div class="container" style="padding-bottom: 20px; padding-top: 20px;">
                <div class="row">
                        <label style="font-weight: bold;">
                            Cronograma
                        </label>
                </div>

                <div class="row" *ngFor="let item of listProyectosCronograma">
                    <div class="row">
                        <div class="col-12" style="text-align: justify;">
                            <label>
                                {{ item.Orden }}. {{ item.Nombre }}
                            </label>
                        </div>  
                    </div> 
                    <br>
                    <div class="row">
                        <div class="col-7">
                            <label>
                                {{ item.FechaInicio }} - {{ item.FechaFin }} 
                            </label>
                        </div>   
                        <div class="col-5">
                            <select (change)="view($event.target.value)" [(ngModel)]="item.Seguimiento"  class="form-control" style="width: auto;" > 
                                <option value="0">-- Seleccione --</option>
                                <option value="1"> Completo </option>
                                <option value="2"> Retraso </option>
                            </select>
                        </div>  
                    </div> 

                    <!-- <div class="row" *ngIf="viewCommentary"> 
                        <div class="col-12" style="text-align: justify;">
                            <input [(ngModel)]="item.Commentary" class="form-control">
                        </div>  
                    </div>  -->

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-evi" role="tabpanel" aria-labelledby="nav-evi-tab">
            <div class="container" style="padding-bottom: 20px; padding-top: 20px;">
                <div class="row">
                    <div class="col-12">
                        <label style="font-weight: bold;">
                            Evidencia
                        </label>
                    </div>               
                </div>
                <div class="row">
                    <div class="col-12">
                        <textarea class="form-control">
                        </textarea>
                    </div>               
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="fileUploadS3">Adjuntar Archivo</label>
                            <input #inputFile (change)="fileUpload($event)" type="file" class="form-control-file" id="fileUploadS3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="itemType == '3'">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
        
                <a class="nav-item nav-link active" id="nav-just-tab" data-toggle="tab" href="#nav-just"
                    role="tab" aria-controls="nav-just" aria-selected="false"> Obra </a>
                <a class="nav-item nav-link" id="nav-act-tab" data-toggle="tab" href="#nav-act" role="tab"
                    aria-controls="nav-obj" aria-selected="false"> Act. </a>
                <a class="nav-item nav-link" id="nav-evi-tab" data-toggle="tab" href="#nav-evi" role="tab"
                    aria-controls="nav-obj" aria-selected="false"> Evidencia </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-just" role="tabpanel" aria-labelledby="nav-just-tab">
                    <div class="container" style="padding-bottom: 20px; padding-top: 20px;">
                        <div class="row">
                            <div class="col-5">
                                <label style="font-weight: bold;">
                                    Paneles Solares:
                                </label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.PanelesSolares" class="form-control">
                            </div>
                            <br>                 
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label style="font-weight: bold;">
                                    Paneles
                                </label>
                            </div>
                            <br>                 
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label> Celdas: </label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.Celdas" class="form-control">
                            </div>
                        </div>
                        <br> 
                        <div class="row">
                            <div class="col-4">
                                <label> Inversor: </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.Inversor"  class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label> Soporte: </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.Soporte"  class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label> Estructura: </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.Estructura"  class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label> Cableado: </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <input [(ngModel)]="proyectoInsumosRequest.Cableado"  class="form-control">
                            </div>
                        </div>
                    </div>
            </div>

            <div class="tab-pane fade" id="nav-act" role="tabpanel" aria-labelledby="nav-act-tab">
                <div class="container" style="padding-bottom: 20px; padding-top: 20px;">
                    <div class="row">
                            <label style="font-weight: bold;">
                                Cronograma
                            </label>
                    </div>
    
                    <div class="row" *ngFor="let item of listProyectosCronograma">
                        <div class="row">
                            <div class="col-12" style="text-align: justify;">
                                <label>
                                    {{ item.Orden }}. {{ item.Nombre }}
                                </label>
                            </div>  
                        </div> 
                        <br>
                        <div class="row">
                            <div class="col-7">
                                <label>
                                    {{ item.FechaInicio }} - {{ item.FechaFin }} 
                                </label>
                            </div>   
                            <div class="col-5">
                                <select (change)="view($event.target.value)" [(ngModel)]="item.Seguimiento"  class="form-control" style="width: auto;" > 
                                    <option value="0">-- Seleccione --</option>
                                    <option value="1"> Completo </option>
                                    <option value="2"> Retraso </option>
                                </select>
                            </div>  
                        </div> 
    
                        <!-- <div class="row" *ngIf="viewCommentary"> 
                            <div class="col-12" style="text-align: justify;">
                                <input [(ngModel)]="item.Commentary" class="form-control">
                            </div>  
                        </div>  -->
    
                    </div>
                </div>
            </div>
    
            <div class="tab-pane fade" id="nav-evi" role="tabpanel" aria-labelledby="nav-evi-tab">
                <div class="container" style="padding-bottom: 20px; padding-top: 20px;">
                    <div class="row">
                        <div class="col-12">
                            <label style="font-weight: bold;">
                                Evidencia
                            </label>
                        </div>               
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea class="form-control">
                            </textarea>
                        </div>               
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="fileUploadS3">Adjuntar Archivo</label>
                                <input #inputFile (change)="fileUpload($event)" type="file" class="form-control-file" id="fileUploadS3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   
    </div>



</ng-container>
