<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-cartesian.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-base.min.js"></script>


<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div id="container" style="height: 300px; width: 50%;" >
        </div>
        <div id="container1" style="height: 300px; width: 50%;" >
        </div>
    </div>
    <div class="row">
        <div id="container2" style="height: 300px; width: 50%;" >
        </div>
        <div id="container3" style="height: 300px; width: 50%;" >
        </div>
    </div>

    <div class="row">
        <div id="container4" style="height: 300px; width: 50%;" >
        </div>
    </div>
   
   
</div>


