<div class="container" style="margin-top: 10px;">
    <div>
        <p style="text-align: left; font-size: 16px; font-weight: bold;margin-bottom: 0;">
            Planificar Cronograma de Visitas
        </p>
    </div>
</div>
<div class="row">
    <div class="col-9">
    </div>
    <div class="col-2" style="text-align: end;">
        <button type="button" (click)="registerProgramacion()" class="btn btn-success" ><em class="fas fa-save"></em> Registar </button>
    </div>
</div>

<div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-2">
                <label style="font-weight: bold;">
                    Código Proyecto:
                </label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" [typeahead]="listProyectosCode" [(ngModel)]="selectedCode"
                [typeaheadScrollable]="true" name="listProyectosCode" [typeaheadOptionsInScrollableView]="5"
                [isAnimated]="true" autocomplete="off" [adaptivePosition]="true"
                typeaheadOptionField="Codigo" (typeaheadOnSelect)="typeaheadOnSelectCode($event)" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <label style="font-weight: bold;">
                    Proyecto:
                </label>
            </div>
            <div class="col-md-9">
                <input [(ngModel)]="proyecto.Nombre" type="text" class="form-control" disabled/>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <label style="font-weight: bold;">
                    Coordinador:
                </label>
            </div>
            <div class="col-md-9">
                <!-- <input type="text" class="form-control" [typeahead]="listPersonal" [(ngModel)]="selectedPersonal"
                [typeaheadScrollable]="true" name="listPersonal" [typeaheadOptionsInScrollableView]="5"
                [isAnimated]="true" autocomplete="off" [adaptivePosition]="true"
                typeaheadOptionField="NombreCompleto" (typeaheadOnSelect)="typeaheadOnSelectEmployee($event)" /> -->

                <select [(ngModel)]="selectedPersonal"  class="form-control">
                    <option value="">-- Seleccione --</option>
                    <option value="{{item.IdCoordinador}}" *ngFor="let item of listPersonal">{{ item.NombreCompleto }}</option>
                </select> 

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <label style="font-weight: bold;">
                    Tipo zona:
                </label>
            </div>
            <div class="col-md-2">
                <select [(ngModel)]="Zona" name="zona" class="form-control" disabled>
                    <option value="">-- TODOS --</option>
                    <option value="{{item.IdZona}}" *ngFor="let item of listZonas">{{ item.Zona }}</option>
                </select>
            </div>
            <div class="col-md-1">
                <label style="font-weight: bold;">
                    Desde:
                </label>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" ng-readonly="all" class="form-control" style="height: 36px;"
                        autocomplete="off"
                        [(ngModel)]="SinceDate" name = "sinceDate"
                        placeholder="Fecha Inicio" #dps="bsDatepicker" bsDatepicker
                        [bsConfig]="{ adaptivePosition: true }">
                    <div class="input-group-append" (click)="dps.toggle()" [attr.aria-expanded]="dps.isOpen">
                        <span class="input-group-text"><em class="far fa-calendar-alt"></em></span>
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <label style="font-weight: bold;">
                    Hasta:
                </label>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" class="form-control" style="height: 36px;"
                        autocomplete="off"
                        [(ngModel)]="UntilDate" name = "untilDate"
                        placeholder="Fecha Fin" #dpe="bsDatepicker" bsDatepicker
                        [bsConfig]="{ adaptivePosition: true }">
                    <div class="input-group-append" (click)="dpe.toggle()" [attr.aria-expanded]="dpe.isOpen">
                        <span class="input-group-text"><em class="far fa-calendar-alt"></em></span>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <label style="font-weight: bold;">
                    Departamento:
                </label>
            </div>
            <div class="col-md-2">
                <select [(ngModel)]="Departamento" name="departamento" class="form-control" disabled>
                    <option value="">-- TODOS --</option>
                    <option value="{{item.IdDepartamento}}" *ngFor="let item of listDepartamento">{{ item.Departamento }}</option>
                </select>
            </div>

            <div class="col-md-1">
                <label style="font-weight: bold;">
                    Provincia:
                </label>
            </div>
            <div class="col-md-2">
                <select [(ngModel)]="Provincia" name="provincia" class="form-control" disabled>
                    <option value="">-- TODOS --</option>
                    <option value="{{item.IdProvincia}}" *ngFor="let item of listProvincia">{{ item.Provincia }}</option>
                </select>
            </div>
            <div class="col-md-1">
                <label style="font-weight: bold;">
                    Distrito:
                </label>
            </div>
            <div class="col-md-2">
                <select [(ngModel)]="Distrito" name="distrito" class="form-control" disabled>
                    <option value="">-- TODOS --</option>
                    <option value="-1">Varios</option>
                    <option value="{{item.IdDistrito}}" *ngFor="let item of listDistrito">{{ item.Distrito }}</option>
                </select>
            </div>
        </div>
</div>

        
<br>
<div class="container">
    <div class="kt-portlet__body">
        <app-table [data]="listProgramacion" 
            [configTable]="configTable"
            [totalItems]="totalItems"
            [headers]="headers">
        </app-table>
    </div>
</div>


