USE [DB_SISCOSE]
GO
/****** Object:  User [admin]    Script Date: 08/12/2021 15:51:57 ******/
CREATE USER [admin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [Cnfg]    Script Date: 08/12/2021 15:51:57 ******/
CREATE SCHEMA [Cnfg]
GO
/****** Object:  Schema [Core]    Script Date: 08/12/2021 15:51:57 ******/
CREATE SCHEMA [Core]
GO
/****** Object:  Table [Cnfg].[Departamento]    Script Date: 08/12/2021 15:51:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Cnfg].[Departamento](
	[IdDepartamento] [int] NOT NULL,
	[Departamento] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Cnfg].[Distrito]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Cnfg].[Distrito](
	[IdDistrito] [int] NOT NULL,
	[Distrito] [varchar](50) NULL,
	[IdProvincia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Cnfg].[Maestra]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Cnfg].[Maestra](
	[Id] [int] NOT NULL,
	[IdTipo] [varchar](25) NULL,
	[Descripcion1] [varchar](25) NULL,
	[Descripcion2] [varchar](25) NULL,
	[Descripcion3] [varchar](25) NULL,
	[Estado] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Cnfg].[Personal]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Cnfg].[Personal](
	[IdCoordinador] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[ApellidoPaterno] [varchar](50) NULL,
	[ApellidoMaterno] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Estado] [int] NULL,
	[IdZona] [int] NULL,
	[Asignado] [int] NULL,
	[Cargo] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCoordinador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Cnfg].[Provincia]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Cnfg].[Provincia](
	[IdProvincia] [int] NOT NULL,
	[Provincia] [varchar](50) NULL,
	[IdDepartamento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Cnfg].[Zonas]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Cnfg].[Zonas](
	[IdZona] [int] NOT NULL,
	[Zona] [varchar](25) NULL,
	[IdDepartament] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Core].[Cronograma]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Cronograma](
	[IdCronograma] [int] IDENTITY(1,1) NOT NULL,
	[Idproyecto] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[Nombre] [varchar](max) NULL,
	[FechaInicio] [varchar](10) NULL,
	[FechaFin] [varchar](10) NULL,
	[Seguimiento] [int] NULL,
	[Estado] [int] NULL,
	[FechaRegistro] [datetime] NULL,
	[Comentario] [varchar](max) NULL,
 CONSTRAINT [PK_Cronograma] PRIMARY KEY CLUSTERED 
(
	[IdCronograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Core].[InsumosProyecto]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[InsumosProyecto](
	[IdInsumoObra] [int] IDENTITY(1,1) NOT NULL,
	[IdProyecto] [int] NULL,
	[MaderaTipoA] [int] NULL,
	[MaderaTipoB] [int] NULL,
	[Concreto] [int] NULL,
	[Aluminio] [int] NULL,
	[PIN3] [int] NULL,
	[PIN4] [int] NULL,
	[Suspencion] [int] NULL,
	[PAT1] [int] NULL,
	[PAT2] [int] NULL,
	[Pernos] [int] NULL,
	[Abrazaderas] [int] NULL,
	[Aisladores] [int] NULL,
	[Monofasicos] [int] NULL,
	[Bifasicos] [int] NULL,
	[Trifasicos] [int] NULL,
	[Transformadores] [int] NULL,
	[Interruptores] [int] NULL,
	[Contactores] [int] NULL,
	[Medidores] [int] NULL,
	[Fusibles] [int] NULL,
	[Pararrayos] [int] NULL,
	[Lotes] [int] NULL,
	[MaderaSecundarioTipoA] [int] NULL,
	[ConcretoSecundarioTipoA] [int] NULL,
	[ConcretoSecundarioTipoB] [int] NULL,
	[AluminioSecundario] [int] NULL,
	[Alumbrado] [int] NULL,
	[Retenidas] [int] NULL,
	[PuestaTierra] [int] NULL,
	[GrapaSuspencion] [int] NULL,
	[GrapaAnclaje] [int] NULL,
	[PernosSecundarios] [int] NULL,
	[Conexiones] [int] NULL,
	[PanelesSolares] [int] NULL,
	[Celdas] [int] NULL,
	[Inversor] [int] NULL,
	[Soporte] [int] NULL,
	[Estructura] [int] NULL,
	[Cableado] [int] NULL,
	[TipoRegistro] [int] NULL,
	[TipoObra] [int] NULL,
 CONSTRAINT [PK_InsumosProyecto] PRIMARY KEY CLUSTERED 
(
	[IdInsumoObra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Core].[Perfiles]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Perfiles](
	[IdOption] [int] NULL,
	[OptionName] [varchar](25) NULL,
	[OptionUrl] [varchar](25) NULL,
	[OptionIcon] [varchar](25) NULL,
	[Descripcion] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Core].[Programacion]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Programacion](
	[IdProgramacion] [int] IDENTITY(1,1) NOT NULL,
	[IdProyecto] [int] NULL,
	[IdCoordinador] [int] NULL,
	[FechaRegistro] [datetime] NULL,
	[Estado] [int] NULL,
	[FechaInicio] [varchar](10) NULL,
	[FechaFin] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProgramacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Core].[Proyectos]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Proyectos](
	[IdProyecto] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](25) NULL,
	[Nombre] [varchar](max) NULL,
	[Transferencia] [varchar](5) NULL,
	[IdTipoInversion] [int] NULL,
	[IdCicloInversion] [int] NULL,
	[IdNaturaleza] [int] NULL,
	[IdDepartamento] [int] NULL,
	[IdProvincia] [int] NULL,
	[IdDistrito] [int] NULL,
	[Programa] [varchar](10) NULL,
	[IdModalidad] [int] NULL,
	[Costo] [varchar](max) NULL,
	[Estado] [int] NULL,
	[IdZona] [int] NULL,
	[Asignado] [int] NULL,
	[IdTipoProyecto] [int] NULL,
	[FechaRegistro] [datetime] NULL,
	[Poblacion] [int] NULL,
	[FechaDesde] [varchar](10) NULL,
	[FechaHasta] [varchar](10) NULL,
 CONSTRAINT [PK_Proyectos] PRIMARY KEY CLUSTERED 
(
	[IdProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Core].[Usuario]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[correo] [nvarchar](50) NULL,
	[estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [Cnfg].[Departamento] ([IdDepartamento], [Departamento]) VALUES (1, N'AMAZONAS')
GO
INSERT [Cnfg].[Departamento] ([IdDepartamento], [Departamento]) VALUES (2, N'ANCASH')
GO
INSERT [Cnfg].[Departamento] ([IdDepartamento], [Departamento]) VALUES (3, N'APURIMAC')
GO
INSERT [Cnfg].[Distrito] ([IdDistrito], [Distrito], [IdProvincia]) VALUES (1, N'CHACHAPOYAS', 1)
GO
INSERT [Cnfg].[Distrito] ([IdDistrito], [Distrito], [IdProvincia]) VALUES (2, N'ASUNCION', 1)
GO
INSERT [Cnfg].[Distrito] ([IdDistrito], [Distrito], [IdProvincia]) VALUES (3, N'BALSAS', 1)
GO
INSERT [Cnfg].[Maestra] ([Id], [IdTipo], [Descripcion1], [Descripcion2], [Descripcion3], [Estado]) VALUES (100, N'', N'Tipo de Inversión', NULL, NULL, 1)
GO
INSERT [Cnfg].[Maestra] ([Id], [IdTipo], [Descripcion1], [Descripcion2], [Descripcion3], [Estado]) VALUES (101, N'100', N'1. Proyecto de Inversión', N'1', NULL, 1)
GO
INSERT [Cnfg].[Maestra] ([Id], [IdTipo], [Descripcion1], [Descripcion2], [Descripcion3], [Estado]) VALUES (102, N'100', N'2. Ampliación Marginal', N'1', NULL, 1)
GO
SET IDENTITY_INSERT [Cnfg].[Personal] ON 
GO
INSERT [Cnfg].[Personal] ([IdCoordinador], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Correo], [Telefono], [Estado], [IdZona], [Asignado], [Cargo]) VALUES (1, N'Luis Carlos', N'Perez', N'Vasquez', N'luis.perez@gmail.com', N'999999999', 1, 1, 1, N'C')
GO
INSERT [Cnfg].[Personal] ([IdCoordinador], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Correo], [Telefono], [Estado], [IdZona], [Asignado], [Cargo]) VALUES (2, N'Jose ', N'Sanchez', N'Alvarez', N'jose.sanchez@gmail.com', N'999999999', 1, 1, 1, N'C')
GO
INSERT [Cnfg].[Personal] ([IdCoordinador], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Correo], [Telefono], [Estado], [IdZona], [Asignado], [Cargo]) VALUES (3, N'Avelardo', N'Catacora', N'Quispe', N'avelardo.catacora@gmail.com', N'999999999', 1, 2, 1, N'C')
GO
SET IDENTITY_INSERT [Cnfg].[Personal] OFF
GO
INSERT [Cnfg].[Provincia] ([IdProvincia], [Provincia], [IdDepartamento]) VALUES (1, N'CHACHAPOYAS ', 1)
GO
INSERT [Cnfg].[Provincia] ([IdProvincia], [Provincia], [IdDepartamento]) VALUES (2, N'BAGUA', 1)
GO
INSERT [Cnfg].[Provincia] ([IdProvincia], [Provincia], [IdDepartamento]) VALUES (3, N'BONGARA', 1)
GO
INSERT [Cnfg].[Zonas] ([IdZona], [Zona], [IdDepartament]) VALUES (1, N'CENTRO', 2)
GO
INSERT [Cnfg].[Zonas] ([IdZona], [Zona], [IdDepartament]) VALUES (1, N'CENTRO', 7)
GO
INSERT [Cnfg].[Zonas] ([IdZona], [Zona], [IdDepartament]) VALUES (1, N'CENTRO', 9)
GO
SET IDENTITY_INSERT [Core].[Cronograma] ON 
GO
INSERT [Core].[Cronograma] ([IdCronograma], [Idproyecto], [Orden], [Nombre], [FechaInicio], [FechaFin], [Seguimiento], [Estado], [FechaRegistro], [Comentario]) VALUES (1, 26, 1, N'Excavacion', N'29/10/2021', N'31/10/2021', 0, 1, CAST(N'2021-10-20T15:00:01.483' AS DateTime), NULL)
GO
INSERT [Core].[Cronograma] ([IdCronograma], [Idproyecto], [Orden], [Nombre], [FechaInicio], [FechaFin], [Seguimiento], [Estado], [FechaRegistro], [Comentario]) VALUES (2, 26, 2, N'Mezclado y vaceado de cemento', N'14/10/2021', N'28/10/2021', 0, 1, CAST(N'2021-10-20T15:00:01.493' AS DateTime), NULL)
GO
INSERT [Core].[Cronograma] ([IdCronograma], [Idproyecto], [Orden], [Nombre], [FechaInicio], [FechaFin], [Seguimiento], [Estado], [FechaRegistro], [Comentario]) VALUES (3, 27, 1, N'prueba 1', N'18/11/2021', N'24/11/2021', 0, 1, CAST(N'2021-11-29T04:35:25.763' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [Core].[Cronograma] OFF
GO
SET IDENTITY_INSERT [Core].[InsumosProyecto] ON 
GO
SET IDENTITY_INSERT [Core].[InsumosProyecto] OFF
GO
INSERT [Core].[Perfiles] ([IdOption], [OptionName], [OptionUrl], [OptionIcon], [Descripcion]) VALUES (1, N'Cartera de Proyectos', N'cartera', N'fa fa-folder-open', N'A')
GO
INSERT [Core].[Perfiles] ([IdOption], [OptionName], [OptionUrl], [OptionIcon], [Descripcion]) VALUES (2, N'Programar Visita', N'programar', N'far fa-address-book', N'A')
GO
INSERT [Core].[Perfiles] ([IdOption], [OptionName], [OptionUrl], [OptionIcon], [Descripcion]) VALUES (3, N'Registrar Informe', N'registrar', N'fa fa-edit', N'A')
GO
SET IDENTITY_INSERT [Core].[Programacion] ON 
GO
INSERT [Core].[Programacion] ([IdProgramacion], [IdProyecto], [IdCoordinador], [FechaRegistro], [Estado], [FechaInicio], [FechaFin]) VALUES (1010, 1, 2, CAST(N'2021-09-04T00:00:00.000' AS DateTime), 1, N'08/09/2021', N'29/09/2021')
GO
INSERT [Core].[Programacion] ([IdProgramacion], [IdProyecto], [IdCoordinador], [FechaRegistro], [Estado], [FechaInicio], [FechaFin]) VALUES (1011, 6, 1, CAST(N'2021-09-04T00:00:00.000' AS DateTime), 1, N'01/09/2021', N'30/09/2021')
GO
INSERT [Core].[Programacion] ([IdProgramacion], [IdProyecto], [IdCoordinador], [FechaRegistro], [Estado], [FechaInicio], [FechaFin]) VALUES (1012, 4, 5, CAST(N'2021-09-04T00:00:00.000' AS DateTime), 1, N'08/09/2021', N'30/09/2021')
GO
SET IDENTITY_INSERT [Core].[Programacion] OFF
GO
SET IDENTITY_INSERT [Core].[Proyectos] ON 
GO
INSERT [Core].[Proyectos] ([IdProyecto], [Codigo], [Nombre], [Transferencia], [IdTipoInversion], [IdCicloInversion], [IdNaturaleza], [IdDepartamento], [IdProvincia], [IdDistrito], [Programa], [IdModalidad], [Costo], [Estado], [IdZona], [Asignado], [IdTipoProyecto], [FechaRegistro], [Poblacion], [FechaDesde], [FechaHasta]) VALUES (2, N'2095022', N'SER SANTA CRUZ-CHOTA-BAMBAMARCA IV ETAPA- II FASE', N'NO', 101, 205, 301, 6, 57, NULL, N'PP0046', 401, N'31,015,895', 1, 3, 0, 1, NULL, NULL, NULL, NULL)
GO
INSERT [Core].[Proyectos] ([IdProyecto], [Codigo], [Nombre], [Transferencia], [IdTipoInversion], [IdCicloInversion], [IdNaturaleza], [IdDepartamento], [IdProvincia], [IdDistrito], [Programa], [IdModalidad], [Costo], [Estado], [IdZona], [Asignado], [IdTipoProyecto], [FechaRegistro], [Poblacion], [FechaDesde], [FechaHasta]) VALUES (3, N'2132592', N'SISTEMA ELÉCTRICO RURAL JIMBE – PAMPAROMAS IV ETAPA', N'NO', 101, 205, 301, 2, 19, NULL, N'PP0046', 401, N'5,795,248', 1, 1, 0, 1, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [Core].[Proyectos] OFF
GO
SET IDENTITY_INSERT [Core].[Usuario] ON 
GO
INSERT [Core].[Usuario] ([IdUsuario], [correo], [estado]) VALUES (1, N'aalcarraznunnez@gmail.com', 1)
GO
SET IDENTITY_INSERT [Core].[Usuario] OFF
GO
ALTER TABLE [Cnfg].[Departamento] ADD  DEFAULT (NULL) FOR [Departamento]
GO
ALTER TABLE [Cnfg].[Distrito] ADD  DEFAULT (NULL) FOR [Distrito]
GO
ALTER TABLE [Cnfg].[Distrito] ADD  DEFAULT (NULL) FOR [IdProvincia]
GO
ALTER TABLE [Cnfg].[Maestra] ADD  DEFAULT (NULL) FOR [IdTipo]
GO
ALTER TABLE [Cnfg].[Maestra] ADD  DEFAULT (NULL) FOR [Descripcion1]
GO
ALTER TABLE [Cnfg].[Maestra] ADD  DEFAULT (NULL) FOR [Descripcion2]
GO
ALTER TABLE [Cnfg].[Maestra] ADD  DEFAULT (NULL) FOR [Descripcion3]
GO
ALTER TABLE [Cnfg].[Maestra] ADD  DEFAULT (NULL) FOR [Estado]
GO
ALTER TABLE [Cnfg].[Provincia] ADD  DEFAULT (NULL) FOR [Provincia]
GO
ALTER TABLE [Cnfg].[Provincia] ADD  DEFAULT (NULL) FOR [IdDepartamento]
GO
ALTER TABLE [Cnfg].[Zonas] ADD  DEFAULT (NULL) FOR [Zona]
GO
ALTER TABLE [Core].[Proyectos] ADD  DEFAULT (NULL) FOR [Codigo]
GO
ALTER TABLE [Core].[Proyectos] ADD  DEFAULT (NULL) FOR [Nombre]
GO
ALTER TABLE [Core].[Proyectos] ADD  DEFAULT (NULL) FOR [Transferencia]
GO
ALTER TABLE [Core].[Proyectos] ADD  DEFAULT (NULL) FOR [IdTipoInversion]
GO
ALTER TABLE [Core].[Proyectos] ADD  DEFAULT (NULL) FOR [IdCicloInversion]
GO
ALTER TABLE [Core].[Proyectos] ADD  DEFAULT (NULL) FOR [IdNaturaleza]
GO
ALTER TABLE [Core].[Proyectos] ADD  DEFAULT (NULL) FOR [IdDepartamento]
GO
ALTER TABLE [Core].[Proyectos] ADD  DEFAULT (NULL) FOR [IdProvincia]
GO
ALTER TABLE [Core].[Proyectos] ADD  DEFAULT (NULL) FOR [IdDistrito]
GO
ALTER TABLE [Core].[Proyectos] ADD  DEFAULT (NULL) FOR [Programa]
GO
ALTER TABLE [Core].[Proyectos] ADD  DEFAULT (NULL) FOR [IdModalidad]
GO
/****** Object:  StoredProcedure [Core].[USP_GET_CronogramaByIdProyecto]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene el detalle de un proyecto
--Change:	   -
--Example:     [Core].[USP_GET_CronogramaByIdProyecto]   25

--================================================= 
CREATE PROC [Core].[USP_GET_CronogramaByIdProyecto]     
@IdProyecto INT
AS    
 SET FMTONLY OFF;    
 SET NOCOUNT ON;    

SELECT 

IdCronograma,
IdProyecto,
Orden,
Nombre,
FechaInicio,
FechaFin,
Seguimiento,
Estado

FROM [Core].[Cronograma]
WHERE IdProyecto = @IdProyecto
GO
/****** Object:  StoredProcedure [Core].[USP_GET_PersonByEmail]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene listado de trabajadores
--Change:	   -
--Example:     [Core].[USP_GET_PersonByEmail]  

--================================================= 
CREATE PROC [Core].[USP_GET_PersonByEmail]      
@Email VARCHAR(MAX)
AS

 SET FMTONLY OFF;    
 SET NOCOUNT ON;   

SELECT 
CONCAT(Nombre,' ',ApellidoPaterno,' ',ApellidoMaterno) AS [User],
Correo as Email,
Cargo as UserEdit
FROM [Cnfg].[Personal]
WHERE Correo = @Email


  
GO
/****** Object:  StoredProcedure [Core].[USP_GET_PersonByPerfil]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene listado de trabajadores
--Change:	   -
--Example: [Core].[USP_GET_PersonByPerfil]    

--================================================= 
CREATE PROC [Core].[USP_GET_PersonByPerfil]      
@Descripcion CHAR(1)
AS

 SET FMTONLY OFF;    
 SET NOCOUNT ON;   

SELECT 
OptionName,
OptionUrl,
OptionIcon
FROM [Core].[Perfiles]
WHERE Descripcion = @Descripcion


  
GO
/****** Object:  StoredProcedure [Core].[USP_GET_ProyectoById]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene el detalle de un proyecto
--Change:	   -
--Example:     [Core].[USP_GET_ProyectoById]  25

--================================================= 
CREATE PROC [Core].[USP_GET_ProyectoById]     
@IdProyecto INT
AS    
 SET FMTONLY OFF;    
 SET NOCOUNT ON;    

SELECT 
	proy.IdProyecto,
	Codigo,
	proy.Nombre,
	Transferencia,
	proy.IdDepartamento,
	mi.Descripcion1 AS InversionDescripcion,
	mc.Descripcion1 AS CicloDescripcion,
	mn.Descripcion1 AS NaturalezaDescripcion,
	mm.Descripcion1 AS Modalidad,
	dep.Departamento,
	pro.Provincia,
	ISNULL(dis.Distrito,'Varios') AS Distrito,
	Costo,
	CONCAT(prog.FechaInicio,' - ',prog.FechaFin) AS FechaVisita,
	CONCAT(per.Nombre,' ',per.ApellidoPaterno,' ',per.ApellidoMaterno) AS NombresCompleto

FROM Core.Proyectos proy 
		INNER JOIN Cnfg.Maestra mi
	ON proy.IdTipoInversion = mi.Id
		INNER JOIN Cnfg.Maestra mc
	ON proy.IdCicloInversion = mc.Id
		INNER JOIN Cnfg.Maestra mn
	ON proy.IdNaturaleza = mn.Id
		INNER JOIN Cnfg.Maestra mm
	ON proy.IdModalidad = mm.Id
		INNER JOIN Cnfg.Departamento dep
	ON proy.IdDepartamento = dep.IdDepartamento
		INNER JOIN Cnfg.Provincia pro
	ON proy.IdProvincia = pro.IdProvincia
		LEFT JOIN Cnfg.Distrito dis
	ON proy.IdDistrito = dis.IdDistrito
		LEFT JOIN [Core].[Programacion] prog 
	ON proy.IdProyecto = prog.IdProyecto
		LEFT JOIN [Cnfg].[Personal] per
	ON prog.IdCoordinador = per.IdCoordinador

WHERE proy.IdProyecto = @IdProyecto



GO
/****** Object:  StoredProcedure [Core].[USP_LIST_Master]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene el listado de la tabla maestra
--Change:	   -
--Example:     [Core].[USP_LIST_Master]  

--================================================= 
CREATE PROC [Core].[USP_LIST_Master]     
AS

 SET FMTONLY OFF;    
 SET NOCOUNT ON;   

SELECT 
	Id,
	IdTipo,
	Descripcion1
FROM [Cnfg].[Maestra]
WHERE Descripcion2 = 1 AND Estado = 1



GO
/****** Object:  StoredProcedure [Core].[USP_LIST_Programacion]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene listado de trabajadores
--Change:	   -
--Example:     [Core].[USP_LIST_Programacion]  

--================================================= 
CREATE PROC [Core].[USP_LIST_Programacion]      
AS

 SET FMTONLY OFF;    
 SET NOCOUNT ON;   

SELECT 
	IdProgramacion,
	pro.IdProyecto,
	pry.Codigo,
	pry.Nombre,
	pro.IdCoordinador,
	CONCAT(per.Nombre,' ',per.ApellidoPaterno,' ',per.ApellidoMaterno) AS NombreCompleto,
	CONVERT(VARCHAR(10),pro.FechaRegistro,103) AS FechaRegistro,
	CASE pro.Estado WHEN 1 THEN 'Activo' END AS Estado,
	CASE pry.Asignado WHEN 1 THEN 'Asignado' END As Asignado
FROM [Core].[Programacion] pro
	INNER JOIN [Core].[Proyectos] pry ON pro.IdProyecto = pry.idProyecto
	INNER JOIN [Cnfg].[Personal] per ON pro.IdCoordinador = per.IdCoordinador
WHERE pro.Estado = 1





GO
/****** Object:  StoredProcedure [Core].[USP_LIST_Proyectos]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene el listado de Proyectos
--Change:	   -
--Example:     [Core].[USP_LIST_Proyectos]  

--================================================= 
CREATE PROC [Core].[USP_LIST_Proyectos]     
AS

 SET FMTONLY OFF;    
 SET NOCOUNT ON;   

SELECT 
	proy.IdProyecto,
	Codigo,
	proy.Nombre,
	Transferencia,
	mi.Descripcion1 AS InversionDescripcion,
	mc.Descripcion1 AS CicloDescripcion,
	mn.Descripcion1 AS NaturalezaDescripcion,
	dep.Departamento,
	Costo

FROM Core.Proyectos proy 
	INNER JOIN Cnfg.Maestra mi
	ON proy.IdTipoInversion = mi.Id
	INNER JOIN Cnfg.Maestra mc
	ON proy.IdCicloInversion = mc.Id
	INNER JOIN Cnfg.Maestra mn
	ON proy.IdNaturaleza = mn.Id
	INNER JOIN Cnfg.Departamento dep
	ON proy.IdDepartamento = dep.IdDepartamento



GO
/****** Object:  StoredProcedure [Core].[USP_LIST_ProyectosbyIdProyecto]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz de Maguiña
--Create Date: 06/12/2021
--Description: Obtiene el listado de Proyectos by Id Proyecto
--Change:	   -
--Example:     [Core].[USP_LIST_ProyectosbyIdProyecto]   22

--================================================= 
CREATE PROC [Core].[USP_LIST_ProyectosbyIdProyecto]     
@ParamIIdProyecto	int
AS

 SET FMTONLY OFF;    
 SET NOCOUNT ON;   

	SELECT 
		IdProyecto
		,Codigo
		,Nombre
		,Transferencia
		,IdTipoInversion
		,IdCicloInversion
		,IdNaturaleza
		,IdDepartamento
		,IdProvincia
		,IdDistrito
		,Programa
		,IdModalidad
		,Costo
		,Estado
		,IdZona
		,Asignado
		,IdTipoProyecto
		,FechaRegistro
		,FechaDesde
		,FechaHasta
	FROM	Core.Proyectos
	WHERE	IdProyecto	=	@ParamIIdProyecto

	SELECT		pro.Codigo		
				,inp.IdInsumoObra
				,inp.IdProyecto
				,inp.MaderaTipoA
				,inp.MaderaTipoB
				,inp.Concreto
				,inp.Aluminio
				,inp.PIN3
				,inp.PIN4
				,inp.Suspencion
				,inp.PAT1
				,inp.PAT2
				,inp.Pernos
				,inp.Abrazaderas
				,inp.Aisladores
				,inp.Monofasicos
				,inp.Bifasicos
				,inp.Trifasicos
				,inp.Transformadores
				,inp.Interruptores
				,inp.Contactores
				,inp.Medidores
				,inp.Fusibles
				,inp.Pararrayos
				,inp.Lotes
				,inp.MaderaSecundarioTipoA
				,inp.ConcretoSecundarioTipoA
				,inp.ConcretoSecundarioTipoB
				,inp.AluminioSecundario
				,inp.Alumbrado
				,inp.Retenidas
				,inp.PuestaTierra
				,inp.GrapaSuspencion
				,inp.GrapaAnclaje
				,inp.PernosSecundarios
				,inp.Conexiones
				,inp.PanelesSolares
				,inp.Celdas
				,inp.Inversor
				,inp.Soporte
				,inp.Estructura
				,inp.Cableado
				,inp.TipoRegistro
				,inp.TipoObra
	FROM		Core.Proyectos pro
	INNER JOIN	Core.InsumosProyecto inp
	ON			pro.IdProyecto	= inp.IdProyecto
	WHERE		pro.IdProyecto	=	@ParamIIdProyecto
	AND			inp.TipoRegistro	=	1


	SELECT	IdCronograma
			,Idproyecto
			,Orden
			,Nombre
			,FechaInicio
			,FechaFin
			,Seguimiento
			,Estado
			,FechaRegistro 
	FROM	Core.Cronograma 
	WHERE	IdProyecto	=	@ParamIIdProyecto
GO
/****** Object:  StoredProcedure [Core].[USP_LIST_ProyectosCodigo]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene los codigos de Proyectos
--Change:	   -
--Example:     [Core].[USP_LIST_ProyectosCodigo]  

--================================================= 
CREATE PROC [Core].[USP_LIST_ProyectosCodigo]     
AS

 SET FMTONLY OFF;    
 SET NOCOUNT ON;   

SELECT 
	IdProyecto
	,Codigo
FROM Core.Proyectos 
WHERE Estado = 1 AND Asignado <> 1
GO
/****** Object:  StoredProcedure [Core].[USP_LIST_ProyectosCronograma]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene el listado de Proyectos
--Change:	   -
--Example:     [Core].[USP_LIST_ProyectosCronograma]

--================================================= 
CREATE PROC [Core].[USP_LIST_ProyectosCronograma]   
--@IdProyecto INT
AS

 SET FMTONLY OFF;    
 SET NOCOUNT ON;   

	SELECT 
		IdCronograma,
		Idproyecto,
		Orden,
		Nombre,
		FechaInicio,
		FechaFin,
		Seguimiento,
		Estado
	FROM [Core].[Cronograma] cro
	--WHERE Idproyecto = @IdProyecto
GO
/****** Object:  StoredProcedure [Core].[USP_LIST_ProyectosInsumos]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene el listado de Proyectos
--Change:	   -
--Example:  exec   [Core].[USP_LIST_ProyectosInsumos]

--================================================= 
CREATE PROC [Core].[USP_LIST_ProyectosInsumos]     
AS

 SET FMTONLY OFF;    
 SET NOCOUNT ON;   

SELECT 
	   ins.IdProyecto
	  ,proy.Codigo
      ,MaderaTipoA
      ,MaderaTipoB
      ,Concreto
      ,Aluminio
      ,PIN3
      ,PIN4
      ,Suspencion
      ,PAT1
      ,PAT2
      ,Pernos
      ,Abrazaderas
      ,Aisladores
      ,Monofasicos
      ,Bifasicos
      ,Trifasicos
      ,Transformadores
      ,Interruptores
      ,Contactores
      ,Medidores
      ,Fusibles
      ,Pararrayos
      ,Lotes
      ,MaderaSecundarioTipoA
      ,ConcretoSecundarioTipoA
      ,ConcretoSecundarioTipoB
      ,AluminioSecundario
      ,Alumbrado
      ,Retenidas
      ,PuestaTierra
      ,GrapaSuspencion
      ,GrapaAnclaje
      ,PernosSecundarios
      ,Conexiones
      ,PanelesSolares
      ,Celdas
      ,Inversor
      ,Soporte
      ,Estructura
      ,Cableado
      ,TipoRegistro
      ,TipoObra

FROM [Core].[InsumosProyecto] ins 
	INNER JOIN [Core].[Proyectos] proy
	ON proy.IdProyecto = ins.IdProyecto


	SELECT 
		IdCronograma,
		Idproyecto,
		Orden,
		Nombre,
		FechaInicio,
		FechaFin,
		Seguimiento,
		Comentario,
		Estado
	FROM [Core].[Cronograma] cro
GO
/****** Object:  StoredProcedure [Core].[USP_LIST_ProyectosRpt]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Core].[USP_LIST_ProyectosRpt]
--=================================================
--Author:      Alberto Alcarraz
--CREATE Date: 22/11/2021
--Description: Obtiene el listado de Reporte
--Change:	   -
--Example:     exec  [Core].[USP_LIST_ProyectosRpt]
--=================================================
AS
BEGIN
	SET NOCOUNT ON;
	SELECT	
	Codigo AS CODIGO,
	Nombre AS PROYECTO,
	Transferencia AS TRANSFERENCIA,
	ti.Descripcion1 AS TIPO_INVERSION,
	ci.Descripcion1 AS CICLO_INVERSION,
	na.Descripcion1 AS NATURALEZA,
	im.Descripcion1 AS MODALIDAD,
	--tp.Descripcion1,
	iz.Zona AS ZONA,
	Costo AS COSTO,
	dp.Departamento AS DEPARTAMENTO,
	pr.Provincia AS PROVINCIA,
	ISNULL(di.Distrito,'') AS DISTRITO

	FROM [Core].[Proyectos] py
	INNER JOIN Cnfg.Maestra ti ON ti.Id = py.IdTipoInversion
	INNER JOIN Cnfg.Maestra ci ON ci.Id = py.IdCicloInversion
	INNER JOIN Cnfg.Maestra na ON na.Id = py.IdNaturaleza
	INNER JOIN Cnfg.Maestra im ON im.Id = py.IdModalidad
	--INNER JOIN Cnfg.Maestra tp ON tp.Id = py.IdTipoProyecto
	INNER JOIN Cnfg.Zonas iz ON iz.IdDepartament = py.IdDepartamento
	INNER JOIN Cnfg.Departamento dp ON dp.IdDepartamento = py.IdDepartamento
	INNER JOIN Cnfg.Provincia pr ON pr.IdProvincia  = py.IdProvincia
	LEFT JOIN Cnfg.Distrito di ON di.IdDistrito = py.IdDistrito

END
GO
/****** Object:  StoredProcedure [Core].[USP_LIST_Ubigeo]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene Ubigeo
--Change:	   -
--Example:     [Core].[USP_LIST_Ubigeo]  

--================================================= 
CREATE PROC [Core].[USP_LIST_Ubigeo]     
AS

 SET FMTONLY OFF;    
 SET NOCOUNT ON;   

SELECT 
	IdDepartamento,
	Departamento
FROM [Cnfg].[Departamento]

SELECT 
	IdProvincia,
	Provincia,
	IdDepartamento
FROM [Cnfg].[Provincia]

SELECT 
	IdDistrito,
	Distrito,
	IdProvincia
FROM [Cnfg].[Distrito]

SELECT 
	IdProyecto,
	Codigo,
	Nombre,
	IdDepartamento,
	IdProvincia,
	ISNULL(IdDistrito,'-1') AS IdDistrito,
	IdZona
FROM Core.Proyectos proy 
WHERE proy.Estado = 1

SELECT 
	IdCoordinador,
	Nombre,
	ApellidoPaterno,
	ApellidoMaterno,
	CONCAT(Nombre,' ',ApellidoPaterno,' ',ApellidoMaterno) AS NombreCompleto,
	Correo,
	Telefono,
	Estado,
	IdZona
FROM [Cnfg].[Personal]
WHERE Estado = 1 AND Asignado <> 1

SELECT 
	IdZona,
	Zona,
	IdDepartament
FROM [Cnfg].[Zonas]

SELECT 
	Id,
	IdTipo,
	Descripcion1
FROM [Cnfg].[Maestra]
WHERE Descripcion2 = 1 AND Estado = 1




GO
/****** Object:  StoredProcedure [Core].[USP_REG_Cronograma]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene listado de trabajadores
--Change:	   -
--Example:     [Core].[USP_REG_Cronograma]  

--================================================= 
CREATE PROC [Core].[USP_REG_Cronograma]      

 @IdCronograma	INT
,@Idproyecto	INT
,@Orden	INT
,@Nombre VARCHAR(MAX)
,@FechaInicio VARCHAR(10)
,@FechaFin VARCHAR(10)
,@Seguimiento INT
,@Estado INT

AS
BEGIN

	MERGE Core.Cronograma	AS	TARGET
	USING(
		SELECT   @IdCronograma
				,@Idproyecto	
				,@Orden	
				,@Nombre 
				,@FechaInicio 
				,@FechaFin 
				,@Seguimiento 
				,@Estado 
				
		)	AS SOURCE	(
				 IdCronograma
				,Idproyecto	
				,Orden	
				,Nombre 
				,FechaInicio 
				,FechaFin 
				,Seguimiento 
				,Estado
		)
	ON (TARGET.IdCronograma = SOURCE.IdCronograma)
	WHEN MATCHED THEN
		UPDATE SET		
			TARGET.Idproyecto		=	SOURCE.Idproyecto
			,TARGET.Orden			=	SOURCE.Orden
			,TARGET.Nombre			=	SOURCE.Nombre
			,TARGET.FechaInicio		=	SOURCE.FechaInicio
			,TARGET.FechaFin		=	SOURCE.FechaFin
			,TARGET.Seguimiento		=	SOURCE.Seguimiento 
			,TARGET.Estado			=	SOURCE.Estado			
	WHEN NOT MATCHED THEN
		INSERT 
		(	 
			 Idproyecto	
			,Orden	
			,Nombre 
			,FechaInicio 
			,FechaFin 
			,Seguimiento 
			,Estado
			,FechaRegistro
		)
		VALUES
		(	
	
			 SOURCE.Idproyecto
			,SOURCE.Orden
			,SOURCE.Nombre
			,SOURCE.FechaInicio
			,SOURCE.FechaFin
			,SOURCE.Seguimiento
			,SOURCE.Estado
			,GETDATE()
		)
	
	OUTPUT
		inserted.IdCronograma;
END

GO
/****** Object:  StoredProcedure [Core].[USP_REG_Insumos]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================  
--Author: Alberto Alcarraz Núñez  
--Create Date: 13/08/2021  
--Description: registra los insumos por proyecto  
--Change:    -  
--Example:   [Core].[USP_REG_Insumos] 
  
--=================================================   
CREATE PROC [Core].[USP_REG_Insumos]        
	@IdInsumoObra INT,
	@IdProyecto INT,
	@MaderaTipoA INT,
	@MaderaTipoB INT,
	@Concreto INT,
	@Aluminio INT,
	@PIN3 INT,
	@PIN4 INT,
	@Suspencion INT,
	@PAT1 INT,
	@PAT2 INT,
	@Pernos INT,
	@Abrazaderas INT,
	@Aisladores INT,
	@Monofasicos INT,
	@Bifasicos INT,
	@Trifasicos INT,
	@Transformadores INT,
	@Interruptores INT,
	@Contactores INT,
	@Medidores INT,
	@Fusibles INT,
	@Pararrayos INT,
	@Lotes INT,
	@MaderaSecundarioTipoA INT,
	@ConcretoSecundarioTipoA INT,
	@ConcretoSecundarioTipoB INT,
	@AluminioSecundario INT,
	@Alumbrado INT,
	@Retenidas INT,
	@PuestaTierra INT,
	@GrapaSuspencion INT,
	@GrapaAnclaje INT,
	@PernosSecundarios INT,
	@Conexiones INT,
	@PanelesSolares INT,
	@Celdas INT,
	@Inversor INT,
	@Soporte INT,
	@Estructura INT,
	@Cableado INT,
	@TipoRegistro INT,
	@TipoObra INT
AS  
BEGIN  
  
 MERGE [Core].[InsumosProyecto] AS TARGET  
 USING(  
  SELECT
	 @IdInsumoObra
	,@IdProyecto
	,@MaderaTipoA
	,@MaderaTipoB
	,@Concreto
	,@Aluminio
	,@PIN3
	,@PIN4
	,@Suspencion
	,@PAT1
	,@PAT2
	,@Pernos
	,@Abrazaderas 
	,@Aisladores
	,@Monofasicos
	,@Bifasicos
	,@Trifasicos 
	,@Transformadores 
	,@Interruptores 
	,@Contactores
	,@Medidores 
	,@Fusibles 
	,@Pararrayos 
	,@Lotes
	,@MaderaSecundarioTipoA 
	,@ConcretoSecundarioTipoA 
	,@ConcretoSecundarioTipoB 
	,@AluminioSecundario 
	,@Alumbrado 
	,@Retenidas 
	,@PuestaTierra 
	,@GrapaSuspencion
	,@GrapaAnclaje 
	,@PernosSecundarios
	,@Conexiones 
	,@PanelesSolares 
	,@Celdas
	,@Inversor 
	,@Soporte
	,@Estructura
	,@Cableado
	,@TipoRegistro
	,@TipoObra
      
  ) AS SOURCE (
     IdInsumoObra
	,IdProyecto
	,MaderaTipoA
	,MaderaTipoB
	,Concreto
	,Aluminio
	,PIN3
	,PIN4
	,Suspencion
	,PAT1
	,PAT2
	,Pernos
	,Abrazaderas 
	,Aisladores
	,Monofasicos
	,Bifasicos
	,Trifasicos 
	,Transformadores 
	,Interruptores 
	,Contactores
	,Medidores 
	,Fusibles 
	,Pararrayos 
	,Lotes
	,MaderaSecundarioTipoA 
	,ConcretoSecundarioTipoA 
	,ConcretoSecundarioTipoB 
	,AluminioSecundario 
	,Alumbrado 
	,Retenidas 
	,PuestaTierra 
	,GrapaSuspencion
	,GrapaAnclaje 
	,PernosSecundarios
	,Conexiones 
	,PanelesSolares 
	,Celdas
	,Inversor 
	,Soporte
	,Estructura
	,Cableado
	,TipoRegistro
	,TipoObra
  )  
 ON (TARGET.IdInsumoObra = SOURCE.IdInsumoObra)  
 WHEN MATCHED THEN
	UPDATE SET				
	TARGET.IdProyecto				=	SOURCE.IdProyecto
	,TARGET.MaderaTipoA				=	SOURCE.MaderaTipoA
	,TARGET.MaderaTipoB				=	SOURCE.MaderaTipoB
	,TARGET.Concreto					=	SOURCE.Concreto
	,TARGET.Aluminio					=	SOURCE.Aluminio
	,TARGET.PIN3						=	SOURCE.PIN3
	,TARGET.PIN4						=	SOURCE.PIN4
	,TARGET.Suspencion				=	SOURCE.Suspencion
	,TARGET.PAT1						=	SOURCE.PAT1
	,TARGET.PAT2						=	SOURCE.PAT2
	,TARGET.Pernos					=	SOURCE.Pernos
	,TARGET.Abrazaderas 				=	SOURCE.Abrazaderas 
	,TARGET.Aisladores				=	SOURCE.Aisladores
	,TARGET.Monofasicos				=	SOURCE.Monofasicos
	,TARGET.Bifasicos				=	SOURCE.Bifasicos
	,TARGET.Trifasicos 				=	SOURCE.Trifasicos 
	,TARGET.Transformadores 			=	SOURCE.Transformadores 
	,TARGET.Interruptores 			=	SOURCE.Interruptores 
	,TARGET.Contactores				=	SOURCE.Contactores
	,TARGET.Medidores 				=	SOURCE.Medidores 
	,TARGET.Fusibles 				=	SOURCE.Fusibles 
	,TARGET.Pararrayos 				=	SOURCE.Pararrayos 
	,TARGET.Lotes					=	SOURCE.Lotes
	,TARGET.MaderaSecundarioTipoA 	=	SOURCE.MaderaSecundarioTipoA 
	,TARGET.ConcretoSecundarioTipoA 	=	SOURCE.ConcretoSecundarioTipoA 
	,TARGET.ConcretoSecundarioTipoB 	=	SOURCE.ConcretoSecundarioTipoB 
	,TARGET.AluminioSecundario 		=	SOURCE.AluminioSecundario 
	,TARGET.Alumbrado 				=	SOURCE.Alumbrado 
	,TARGET.Retenidas 				=	SOURCE.Retenidas 
	,TARGET.PuestaTierra 			=	SOURCE.PuestaTierra 
	,TARGET.GrapaSuspencion			=	SOURCE.GrapaSuspencion
	,TARGET.GrapaAnclaje 			=	SOURCE.GrapaAnclaje 
	,TARGET.PernosSecundarios		=	SOURCE.PernosSecundarios
	,TARGET.Conexiones 				=	SOURCE.Conexiones 
	,TARGET.PanelesSolares 			=	SOURCE.PanelesSolares 
	,TARGET.Celdas					=	SOURCE.Celdas
	,TARGET.Inversor 				=	SOURCE.Inversor 
	,TARGET.Soporte					=	SOURCE.Soporte
	,TARGET.Estructura				=	SOURCE.Estructura
	,TARGET.Cableado					=	SOURCE.Cableado
	,TARGET.TipoRegistro				=	SOURCE.TipoRegistro
	,TARGET.TipoObra					=	SOURCE.TipoObra
	




 WHEN NOT MATCHED THEN  
  INSERT   
  ( 
	 IdProyecto
	,MaderaTipoA
	,MaderaTipoB
	,Concreto
	,Aluminio
	,PIN3
	,PIN4
	,Suspencion
	,PAT1
	,PAT2
	,Pernos
	,Abrazaderas 
	,Aisladores
	,Monofasicos
	,Bifasicos
	,Trifasicos 
	,Transformadores 
	,Interruptores 
	,Contactores
	,Medidores 
	,Fusibles 
	,Pararrayos 
	,Lotes
	,MaderaSecundarioTipoA 
	,ConcretoSecundarioTipoA 
	,ConcretoSecundarioTipoB 
	,AluminioSecundario 
	,Alumbrado 
	,Retenidas 
	,PuestaTierra 
	,GrapaSuspencion
	,GrapaAnclaje 
	,PernosSecundarios
	,Conexiones 
	,PanelesSolares 
	,Celdas
	,Inversor 
	,Soporte
	,Estructura
	,Cableado
	,TipoRegistro
	,TipoObra
  )  
  VALUES  
  (   
	 SOURCE.IdProyecto
	,SOURCE.MaderaTipoA
	,SOURCE.MaderaTipoB
	,SOURCE.Concreto
	,SOURCE.Aluminio
	,SOURCE.PIN3
	,SOURCE.PIN4
	,SOURCE.Suspencion
	,SOURCE.PAT1
	,SOURCE.PAT2
	,SOURCE.Pernos
	,SOURCE.Abrazaderas 
	,SOURCE.Aisladores
	,SOURCE.Monofasicos
	,SOURCE.Bifasicos
	,SOURCE.Trifasicos 
	,SOURCE.Transformadores 
	,SOURCE.Interruptores 
	,SOURCE.Contactores
	,SOURCE.Medidores 
	,SOURCE.Fusibles 
	,SOURCE.Pararrayos 
	,SOURCE.Lotes
	,SOURCE.MaderaSecundarioTipoA 
	,SOURCE.ConcretoSecundarioTipoA 
	,SOURCE.ConcretoSecundarioTipoB 
	,SOURCE.AluminioSecundario 
	,SOURCE.Alumbrado 
	,SOURCE.Retenidas 
	,SOURCE.PuestaTierra 
	,SOURCE.GrapaSuspencion
	,SOURCE.GrapaAnclaje 
	,SOURCE.PernosSecundarios
	,SOURCE.Conexiones 
	,SOURCE.PanelesSolares 
	,SOURCE.Celdas
	,SOURCE.Inversor 
	,SOURCE.Soporte
	,SOURCE.Estructura
	,SOURCE.Cableado
	,SOURCE.TipoRegistro
	,SOURCE.TipoObra
  )  
   
 OUTPUT
  inserted.IdInsumoObra;
END  
GO
/****** Object:  StoredProcedure [Core].[USP_REG_Programacion]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene listado de trabajadores
--Change:	   -
--Example:     [Core].[USP_REG_Programacion]  

--================================================= 
CREATE PROC [Core].[USP_REG_Programacion]      

 @IdProyecto	INT
,@IdCoordinador	INT
,@FechaRegistro	DATE
,@Estado INT
,@FechaInicio VARCHAR(10)
,@FechaFin VARCHAR(10)

AS
BEGIN

	MERGE	[Core].[Programacion]	AS	TARGET
	USING(
		SELECT	 @IdProyecto		
				,@IdCoordinador
				,@FechaRegistro		
				,@Estado
				,@FechaInicio
				,@FechaFin
				
		)	AS SOURCE	(
				 IdProyecto		
				,IdCoordinador
				,FechaRegistro		
				,Estado
				,FechaInicio
				,FechaFin
		)
	ON (TARGET.IdProyecto = SOURCE.IdProyecto AND TARGET.IdCoordinador = SOURCE.IdCoordinador)
	WHEN MATCHED THEN
		UPDATE SET								
			TARGET.Estado			=	SOURCE.Estado	
			,TARGET.FechaInicio		=	SOURCE.FechaInicio
			,TARGET.FechaFin		=	SOURCE.FechaFin
	WHEN NOT MATCHED THEN
		INSERT 
		(	IdProyecto		
			,IdCoordinador
			,FechaRegistro		
			,Estado
			,FechaInicio
			,FechaFin
		)
		VALUES
		(	
			 SOURCE.IdProyecto
			,SOURCE.IdCoordinador
			,SOURCE.FechaRegistro
			,SOURCE.Estado
			,SOURCE.FechaInicio
			,SOURCE.FechaFin
		)
	
	OUTPUT
		inserted.IdProgramacion;
	
END
GO
/****** Object:  StoredProcedure [Core].[USP_REG_Proyecto]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================  
--Author: Alberto Alcarraz Núñez  
--Create Date: 13/08/2021  
--Description: registra un nuevo proyecto  
--Change:    -  
--Example:     [Core].[USP_REG_Proyecto]    
  
--=================================================   
CREATE PROC [Core].[USP_REG_Proyecto]        
 @IdProyecto INT 
,@Codigo VARCHAR(25)  
,@Nombre VARCHAR(MAX)  
,@Transferencia VARCHAR(5)  
,@IdTipoInversion INT
,@IdCicloInversion INT
,@IdNaturaleza INT
,@IdDepartamento INT
,@IdProvincia INT
,@IdDistrito INT
,@Programa VARCHAR(10)  
,@IdModalidad INT
,@Costo VARCHAR(MAX)  
,@Estado INT
,@IdZona INT
,@Asignado INT
,@IdTipoProyecto INT
,@FechaDesde VARCHAR(10)  
,@Fechahasta VARCHAR(10)  
  
AS  
BEGIN  
  
 MERGE [Core].[Proyectos] AS TARGET  
 USING(  
  SELECT
	 @IdProyecto
	,@Codigo
	,@Nombre
	,@Transferencia
	,@IdTipoInversion
	,@IdCicloInversion
	,@IdNaturaleza
	,@IdDepartamento
	,@IdProvincia
	,@IdDistrito
	,@Programa
	,@IdModalidad
	,@Costo
	,@Estado
	,@IdZona
	,@Asignado
	,@IdTipoProyecto
	,@FechaDesde
	,@FechaHasta
      
  ) AS SOURCE (
	 IdProyecto
	,Codigo
	,Nombre
	,Transferencia
	,IdTipoInversion
	,IdCicloInversion
	,IdNaturaleza
	,IdDepartamento
	,IdProvincia
	,IdDistrito
	,Programa
	,IdModalidad
	,Costo
	,Estado
	,IdZona
	,Asignado
	,IdTipoProyecto
	,FechaDesde
	,FechaHasta
  )  
 ON (TARGET.IdProyecto = SOURCE.IdProyecto)  
WHEN MATCHED THEN
	UPDATE SET				
		TARGET.Codigo				=	SOURCE.Codigo  
		,TARGET.Nombre				=	SOURCE.Nombre  
		,TARGET.Transferencia		=	SOURCE.Transferencia  
		,TARGET.IdTipoInversion		=	SOURCE.IdTipoInversion  
		,TARGET.IdCicloInversion	=	SOURCE.IdCicloInversion  
		,TARGET.IdNaturaleza		=	SOURCE.IdNaturaleza  
		,TARGET.IdDepartamento		=	SOURCE.IdDepartamento
		,TARGET.IdProvincia			=	SOURCE.IdProvincia
		,TARGET.IdDistrito			=	SOURCE.IdDistrito
		,TARGET.Programa			=	SOURCE.Programa
		,TARGET.IdModalidad			=	SOURCE.IdModalidad
		,TARGET.Costo				=	SOURCE.Costo
		,TARGET.Estado				=	SOURCE.Estado
		,TARGET.IdZona				=	SOURCE.IdZona
		,TARGET.Asignado			=	SOURCE.Asignado
		,TARGET.IdTipoProyecto		=	SOURCE.IdTipoProyecto
		,TARGET.FechaDesde			=	SOURCE.FechaDesde
		,TARGET.FechaHasta			=	SOURCE.FechaHasta
 WHEN NOT MATCHED THEN  
  INSERT   
  ( 
	 Codigo
	,Nombre
	,Transferencia
	,IdTipoInversion
	,IdCicloInversion
	,IdNaturaleza
	,IdDepartamento
	,IdProvincia
	,IdDistrito
	,Programa
	,IdModalidad
	,Costo
	,Estado
	,IdZona
	,Asignado
	,IdTipoProyecto
	,FechaDesde
	,FechaHasta
  )  
  VALUES  
  (   
	SOURCE.Codigo  
   ,SOURCE.Nombre  
   ,SOURCE.Transferencia  
   ,SOURCE.IdTipoInversion  
   ,SOURCE.IdCicloInversion  
   ,SOURCE.IdNaturaleza  
   ,SOURCE.IdDepartamento
   ,SOURCE.IdProvincia
   ,SOURCE.IdDistrito
   ,SOURCE.Programa
   ,SOURCE.IdModalidad
   ,SOURCE.Costo
   ,SOURCE.Estado
   ,SOURCE.IdZona
   ,SOURCE.Asignado
   ,SOURCE.IdTipoProyecto
   ,SOURCE.FechaDesde
   ,SOURCE.FechaHasta
  )  
   
 OUTPUT
  inserted.IdProyecto;
END  
  
GO
/****** Object:  StoredProcedure [Core].[USP_RPT_CantidadPoblacionPorDepartamento]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [Core].[USP_RPT_CantidadPoblacionPorDepartamento]     
AS

	SET FMTONLY OFF;    
	SET NOCOUNT ON;   

	DECLARE	@CIdCicloInversionEnEjecucion	VARCHAR(3)	=	'205';

	SELECT	D.Departamento		AS	Departamento
			,SUM(P.Poblacion)	AS	Poblacion
	FROM	Core.Proyectos P
	INNER JOIN Cnfg.Departamento	D
		ON	P.IdDepartamento	=	D.IdDepartamento
	WHERE	P.IdCicloInversion	=	@CIdCicloInversionEnEjecucion
	GROUP BY D.Departamento
	
GO
/****** Object:  StoredProcedure [Core].[USP_RPT_CantidadProyectosPorCicloInversion]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene la data para el reporte cantidad de proyectos por ciclo de inversión.
--Change:	   -
--Example:     [Core].[USP_RPT_CantidadProyectosPorCicloInversion]
--================================================= 
CREATE PROC [Core].[USP_RPT_CantidadProyectosPorCicloInversion]     
AS

	SET FMTONLY OFF;    
	SET NOCOUNT ON;   

	SELECT	M.Descripcion1			AS	CicloInversion
			,COUNT(P.IdProyecto)	AS	CantidadProyecto
	FROM	Core.Proyectos P
	INNER JOIN	Cnfg.Maestra M
		ON	P.IdCicloInversion	=	M.Id
	GROUP BY M.Descripcion1
GO
/****** Object:  StoredProcedure [Core].[USP_RPT_CantidadProyectosPorTipoProyecto]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene la data para el reporte cantidad de proyectos por tipo de proyecto.
--Change:	   -
--Example:     [Core].[USP_RPT_CantidadProyectosPorTipoProyecto]
--================================================= 
CREATE PROC [Core].[USP_RPT_CantidadProyectosPorTipoProyecto]     
AS

	SET FMTONLY OFF;    
	SET NOCOUNT ON;   

	DECLARE	@CIdCicloInversionEnEjecucion	VARCHAR(3)	=	'205';

	SELECT	CASE	
				WHEN P.IdTipoProyecto	=	1	THEN	'PRIMARIO'
				WHEN P.IdTipoProyecto	=	2	THEN	'SECUNDARIO'
				ELSE	'PANELES SOLARES'
			END						AS	TipoProyecto
			,COUNT(P.IdProyecto)	AS	CantidadProyecto
	FROM	Core.Proyectos P
	WHERE	P.IdCicloInversion	=	@CIdCicloInversionEnEjecucion
	GROUP BY P.IdTipoProyecto
GO
/****** Object:  StoredProcedure [Core].[USP_RPT_CostoPorDepartamento]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene la data para el reporte de costo de los proyectos por departamentos.
--Change:	   -
--Example:     [Core].[USP_RPT_CostoPorDepartamento]  
--================================================= 
CREATE PROC [Core].[USP_RPT_CostoPorDepartamento]     
AS

	SET FMTONLY OFF;    
	SET NOCOUNT ON;   

	DECLARE	@CIdCicloInversionEnEjecucion	VARCHAR(3)	=	'205';

	SELECT	D.Departamento								AS	Departamento
			,SUM(CAST(REPLACE(P.Costo,',','') AS INT))	AS	Costo
	FROM	Core.Proyectos P
	INNER JOIN Cnfg.Departamento D
		ON	P.IdDepartamento	=	D.IdDepartamento
	WHERE	P.IdCicloInversion	=	@CIdCicloInversionEnEjecucion
	GROUP BY D.Departamento
	
GO
/****** Object:  StoredProcedure [Core].[USP_RPT_CostoPorTipoProyecto]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene la data para el reporte de costo de los proyectos por tipo de proyecto.
--Change:	   -
--Example:     [Core].[USP_RPT_CostoPorTipoProyecto]
--================================================= 
CREATE PROC [Core].[USP_RPT_CostoPorTipoProyecto]     
AS

	SET FMTONLY OFF;    
	SET NOCOUNT ON;   

	DECLARE	@CIdCicloInversionEnEjecucion	VARCHAR(3)	=	'205';

	SELECT	CASE	
				WHEN P.IdTipoProyecto	=	1	THEN	'PRIMARIO'
				WHEN P.IdTipoProyecto	=	2	THEN	'SECUNDARIO'
				ELSE	'PANELES SOLARES'
			END											AS	TipoProyecto
			,SUM(CAST(REPLACE(P.Costo,',','') AS INT))	AS	Costo
	FROM	Core.Proyectos P
	INNER JOIN Cnfg.Departamento D
		ON	P.IdDepartamento	=	D.IdDepartamento
	WHERE	P.IdCicloInversion	=	@CIdCicloInversionEnEjecucion
	GROUP BY P.IdTipoProyecto
GO
/****** Object:  StoredProcedure [Core].[USP_UPD_Proyecto]    Script Date: 08/12/2021 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Author:	Alberto Alcarraz Núñez
--Create Date: 13/08/2021
--Description: Obtiene listado de trabajadores
--Change:	   -
--Example:     [Core].[USP_UPD_Proyecto]   2

--================================================= 
CREATE PROC [Core].[USP_UPD_Proyecto]      

@IdProyecto	INT,
@IdCoordinador INT
 
AS
BEGIN

UPDATE [Core].[Proyectos] SET Asignado = 1
WHERE IdProyecto = @IdProyecto

UPDATE [Cnfg].[Personal] SET Asignado = 1
WHERE IdCoordinador = @IdCoordinador

RETURN 1

END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contiene los departamentos del perú' , @level0type=N'SCHEMA',@level0name=N'Cnfg', @level1type=N'TABLE',@level1name=N'Departamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contiene todos los distritos por provincia del perú' , @level0type=N'SCHEMA',@level0name=N'Cnfg', @level1type=N'TABLE',@level1name=N'Distrito'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'contiene todos los datos que se usan para cargan valores generales' , @level0type=N'SCHEMA',@level0name=N'Cnfg', @level1type=N'TABLE',@level1name=N'Maestra'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'contiene a todos los trabajadores involucrados con el sistema ' , @level0type=N'SCHEMA',@level0name=N'Cnfg', @level1type=N'TABLE',@level1name=N'Personal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'contiene todas las provincias por departamento del perú' , @level0type=N'SCHEMA',@level0name=N'Cnfg', @level1type=N'TABLE',@level1name=N'Provincia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'contiene la agrupación de departamentos por zonas' , @level0type=N'SCHEMA',@level0name=N'Cnfg', @level1type=N'TABLE',@level1name=N'Zonas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'contiene las actividades a realizar por tipo de proyecto' , @level0type=N'SCHEMA',@level0name=N'Core', @level1type=N'TABLE',@level1name=N'Cronograma'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'contiene los insumos por tipo de proyecto, primario, secundario, paneles solares' , @level0type=N'SCHEMA',@level0name=N'Core', @level1type=N'TABLE',@level1name=N'InsumosProyecto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'contiene los perfiles por usuario del sistema' , @level0type=N'SCHEMA',@level0name=N'Core', @level1type=N'TABLE',@level1name=N'Perfiles'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'contiene las visitas programadas a campo para los coordinadores' , @level0type=N'SCHEMA',@level0name=N'Core', @level1type=N'TABLE',@level1name=N'Programacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'contiene todos los proyectos del estado que se encuentran en ejecución' , @level0type=N'SCHEMA',@level0name=N'Core', @level1type=N'TABLE',@level1name=N'Proyectos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'contiene a los usuarios registrados por aws' , @level0type=N'SCHEMA',@level0name=N'Core', @level1type=N'TABLE',@level1name=N'Usuario'
GO
